@tailwind base;
@tailwind components;
@tailwind utilities;

.recharts-tooltip-cursor {
  fill: rgba(229, 231, 235, 0.5);
}

.recharts-default-tooltip {
  border-radius: 0.5rem !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;
}